body {
    background-color: rgb(248, 248, 248);
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background: radial-gradient(circle at top, lightgray, white 300px);
}

@media only screen and (max-width: 600px) {
    .grid-container {
        display: grid;
        grid-template-columns: 25% 15% auto 15% 25%;
        grid-template-rows: 7% auto auto auto;

        background: radial-gradient(circle at top, lightgray, white 300px);
    }

    header {
        grid-column: 1 /span 5;
        grid-row: 1;
        align-items: center;
        display: flex;
        justify-content: space-between;

    }

    main {
        grid-column: 1 /span 5;
        grid-row: 2;
        display: flex;
        flex-direction: column;

        margin-top: 10px;
        margin-bottom: 50px;
    }

    footer {
        grid-column: 1 /span 5;
        grid-row: 4;
        margin-top: 60px;
        background-color: lightgrey;
        box-shadow: 0 -7px 7px rgb(228, 228, 228);
        padding: 40px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
    }

    aside {
        grid-column: 1 /span 5;
        grid-row: 3;
        font-size: 20px;
        text-shadow: 5px 5px 5px lightgray;
        text-align: center;

    }


    #Titel {
        opacity: 0;
    }

    #Logo_footer {
        width: 50px;
    }

    #Titel {
        font-size: 30px;
        font-weight: bold;
        text-shadow: 2px 2px rgb(234, 234, 234);
        font-family: fantasy;
    }


    .Logo {
        display: block;
        width: 50px;
        height: 50px;
        margin-left: 5%;
        margin-top: 10px;
    }

    .dropbtn {
        background-color: black;
        color: white;
        padding: 10px;
        font-size: 15px;
        border: none;
        cursor: pointer;
        box-shadow: 7px 7px 7px lightgrey;
        border-radius: 5px;
        margin-top: 10px;


    }

    .dropdown {
        position: relative;
        display: inline-block;
        margin-right: 5%;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px lightgray;
        z-index: 1;
    }

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .dropdown-content a:hover {
        background-color: #f1f1f1
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .dropdown:hover .dropbtn {
        background-color: lightgrey;
    }



    a {
        text-decoration: none;
        color: black;
    }




    .main_item {
        width: 100%;
        margin-bottom: 10px;
        background-color: rgb(229, 222, 250);
        border-radius: 7px;
        box-shadow: 7px 7px 7px lightgrey;
        overflow: hidden;
        position: relative;
    }

    .main_img {
        width: 100%;
        height: 100%;
        opacity: 1;
        display: block;
        transition: .5s ease;
        backface-visibility: hidden;
    }

    .middle {
        transition: .5s ease;
        opacity: 0;
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        opacity: 1;

    }

    .main_img:hover {
        transform: scale(1.1);

    }


    .main_item:hover .main_img {
        opacity: 0.3;
    }

    .main_item:hover .middle {
        opacity: 1;
    }

    .main_text {

        color: white;
        font-size: 40px;
        padding: 16px 32px;


    }



}




@media only screen and (min-width: 600px) {
    .grid-container {
        display: grid;
        grid-template-columns: 25% 15% auto 10% 25%;
        grid-template-rows: 7% auto auto auto;

        background: radial-gradient(circle at top, lightgray, white 300px);
    }

    header {
        grid-column: 2 /span 3;
        grid-row: 1;
        align-items: center;
        display: flex;
        justify-content: space-between;
    }

    main {
        grid-column: 1 /span 5;
        grid-row: 2;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 150px;
        margin-bottom: 50px;
    }

    aside {
        grid-column: 2 /span 3;
        grid-row: 3;
        font-size: 20px;
        text-shadow: 5px 5px 5px lightgray;
        text-align: center;
    }

    footer {
        grid-column: 1 /span 5;
        grid-row: 4;
        margin-top: 60px;
        background-color: lightgrey;
        box-shadow: 0 -7px 7px rgb(228, 228, 228);
        padding: 40px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;

    }

    .footer_links {
        display: flex;
        flex-direction: row;

    }

    h3 {
        margin-right: 90px;
        margin-left: 40px;
    }

    #Logo_footer {
        width: 150px;
        margin-right: 50px;
    }

    #Titel {
        font-size: 30px;
        font-weight: bold;
        text-shadow: 2px 2px rgb(234, 234, 234);
        font-family: fantasy;
    }

    .Logo {
        display: block;
        width: 70px;
        height: 70px;
        margin-left: 5%;
        margin-top: 10px;
    }

    .dropbtn {
        background-color: black;
        color: white;
        padding: 10px;
        font-size: 15px;
        border: none;
        cursor: pointer;
        box-shadow: 7px 7px 7px lightgrey;
        border-radius: 5px;


    }

    .dropdown {
        position: relative;
        display: inline-block;
        margin-right: 5%;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px lightgray;
        z-index: 1;
    }

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .dropdown-content a:hover {
        background-color: #f1f1f1
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .dropdown:hover .dropbtn {
        background-color: lightgrey;
    }



    a {
        text-decoration: none;
        color: black;
    }




    .main_item {
        width: 25%;
        height: 500px;
        background-color: rgb(116, 77, 243);
        border-radius: 7px;
        box-shadow: 7px 7px 7px lightgrey;
        overflow: hidden;
        position: relative;
    }

    .main_img {
        width: 100%;
        height: 100%;
        opacity: 1;
        display: block;
        transition: .5s ease;
        backface-visibility: hidden;
    }

    .middle {
        transition: .5s ease;
        opacity: 0;
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%)
    }

    .main_img:hover {
        transform: scale(1.1);
    }

    .main_item:hover .main_img {
        opacity: 0.3;
    }

    .main_item:hover .middle {
        opacity: 1;
    }

    .main_text {

        color: white;
        font-size: 40px;
        padding: 16px 32px;

    }

}